/*
  Css reset:
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /reset */

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: Roboto, Helvetica, Arial;
  font-size: 13px;
}

#appWrap, #circleChooserBar {
  width: 620px;
  margin: 0 auto;
}

#top {
  text-align: center;
  height: 110px;
}

#top img {
  height: 30px;
  margin-top: 40px;
}

#editbox {
  background-color: #fff;
  border: 1px solid #aec693;
  -webkit-transition: all 0.2s ease-in-out;
}

#editbox.collapsed {
  border-color: #dedede;
}

.titleBar {
  height: 50px;
}

.titleBar input {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding-left: 15px;
  color: #191919;
  font-family: Roboto, Helvetica, Arial;
}

.titleBar input::-webkit-input-placeholder {
  color: #b2b2b2;
}

#collapseEditbox {
  width: 16px;
  height: 16px;
  display: none;
  cursor: pointer;
  border: 1px solid red;
}

.hideWhenCollapsed {
  display: none;
}

.editbox .gp-e-container {
  min-height: 70px;
  max-height: 500px;
  padding: 20px 20px 0 20px;
  font: 13px Helvetica, Arial, sans-serif;
  line-height: 18px;
  background-color: #fff;
  outline: 0;
  overflow-y: auto;
  color: #191919;
}

.gp-e-container p {
  margin-top: 0;
  -webkit-margin-after: 1em;
}

.gp-ac-input, .gp-ac-input:focus {
  border: 0;
  outline: 0;
  background: transparent;
}

.toolbar {
  background-color: #e5f1d9;
  border: 1px solid #c9dabb;
  border-left: 0;
  border-right: 0;
  font-family: sans-serif;
  height: 36px;
}

.toolbar span {
  width: 24px;
  display: inline-block;
  text-align: center;
  height: 24px;
  padding: 4px;
  margin-top: 4px;
  border-radius: 6px;
  margin-left: 8px;
  font-size: 16px;
  font-family: default;
  font-weight: bold;
  cursor: pointer;
}

#postActions .disabled {
  opacity: 0.4;
}

#postActions .invalid {
  opacity: 0.3;
  cursor: default;
}

.toolbar .active {
  background-color: #92ac75;
  color: #fff;
}

.toolbar span:hover:not(.active) {
  background-color: #acc398;
  color: #fff;
}

#postActions {
  background-color: #fff;
  width: 100%;
  height: 20px;
}

.postAction {
  float: right;
  cursor: pointer;
}

.postAction span {
  -webkit-transition: all 0.2s ease-in-out;
}

#attachments.notempty {
  border-top: 1px solid #aec693;
}

.reshare {
  padding: 10px;
}

.reshare h2, .reshare p, .reshare a, .reshare h3 {
  -webkit-margin-after: 0.4em;
}

.reshareMeta {
  font-weight: 800;
  -webkit-margin-before: 1em;
  display: block;
}

#linkBar {
  display: none;
  height: auto;
}

#linkBar #linkInput {
  height: 2em;
  width: 80%;
  background: transparent;
  margin: 0 0 0 5px;
  border: 0;
  outline: 0;
}

#closeLinkBar {
  float: right;
  margin: 4px 3px 0 0;
  cursor: pointer;
}

#postMedia {
  display: none;
}

#circleChooserBar {
  display: inline-block;
  height: auto;
  padding: 10px;
  border: 1px solid #bebebe;
  margin-top: 10px;
  background: #f6f9f3;
  cursor: text;
}

.audienceChooserEntity {
  display: block;
  float: left;
  width: auto;
  height: 28px;
  font-size: 13px;
  color: #fff;
  padding: 7px 10px 10px 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  background-color: #0694c4;
  border-radius: 5px;
}

.audienceChooserEntity.c_PUBLIC,
.audienceChooserEntity.c_EXTENDED_CIRCLES,
.audienceChooserEntity.c_YOUR_CIRCLES {
  background-color: #57a046;
}

.deleteEntityButton {
  padding-left: 8px;
  cursor: pointer;
}

#circleChooser {
  width: auto;
  height: 28px;
  border: 0;
  outline: 0;
  background: transparent;
}

#circleChooser::-webkit-input-placeholder {
  color: #bb1951;
}

#circleChooser:focus::-webkit-input-placeholder {
  color: rgba(0,0,0,0);
}

#buttonBar {
  margin-top: 18px;
}

#buttonBar div {
  float: left;
  width: auto;
  height: 40px;
}

#buttonBar button, #buttonScheduleStepTwo {
  width: 140px;
  margin-left: 20px;
  height: 34px;
  border: 2px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px -1px 0 rgba(0,0,0,0.3);
  cursor: pointer;
  font-family: Roboto;
}

#buttonBar div:first-child button, #buttonScheduleStepTwo {
  margin-left: 0;
}

#buttonBar #buttonDelete:active,
#buttonBar #buttonDraft:active,
#buttonBar #buttonSchedule:active,
#buttonBar #buttonPost:active,
#buttonScheduleStepTwo:active {
  margin-top: 2px;
  box-shadow: none;
}

#buttonBar #buttonDelete {
  background-image: -webkit-linear-gradient(top, #cac9c9, #d6d5d5);
  border-color: #cac9c9;
  box-shadow: 0px 2px 0 #e2e2e2;
}

#buttonBar #buttonDraft {
  background-image: -webkit-linear-gradient(top, #f1a643, #f4bf4d);
  border-color: #f1a643;
  box-shadow: 0px 2px 0 #dadada;
}

#buttonBar #buttonSchedule, #buttonScheduleStepTwo {
  background-image: -webkit-linear-gradient(top, #f17c4c, #f49459);
  border-color: #f17c4c;
  box-shadow: 0px 2px 0 #dadada;
}

#buttonBar #buttonPost {
  background-image: -webkit-linear-gradient(top, #bb1a51, #d92671);
  border-color: #bb1a51;
  box-shadow: 0px 2px 0 #cfcfcf;
}

#scheduleBar {
  height: 80px;
  text-align: center;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 2px 2px #888;
  display: none;
  clear: both;
}

#closeScheduleBar {
  float: right;
  cursor: pointer;
}

#posts, #editbox, .hideWhenCollapsed  {
  -webkit-transition: all 0.2s ease-in-out;
}

#posts .column {
  width: 300px;
}

#posts .columnHead {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.drafts .columnHead {
  color: #e79c3c;
}

.scheduled .columnHead {
  color: #f17c4c;
}

#posts .column.drafts {
  float: left;
  margin-right: 10px;
}

#posts .column.scheduled {
  float: right;
  margin-left: 10px;
}

#posts .savedPost {
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #605e5a;
}

.postDate {
  font-size: 14px;
  color: #98224c;
  -webkit-margin-after: 15px;
}

.postDate:hover {
  color: #6d1030;
}

.postTitle {
  font-size: 18px;
  color: #484643;
  display: block;
  -webkit-margin-after: 0.5em;
  font-weight: 300;
}

.drafts .savedPost {
  background-color: #f1ebe1;
}

#posts .drafts .savedPost:hover,
#posts .drafts .savedPost.activity {
  background-color: #f1a643;
  color: #483112;
}

.scheduled .savedPost {
  background-color: #f3e8e3;
}

.scheduled .savedPost:hover,
.scheduled .savedPost.activity {
  background-color: #f17c4c;
  color: #483112;
}

#sendFeedback {
  position: absolute;
  top: 0;
  left: -9999px;
  background-image: -webkit-linear-gradient(top, #acc398, #c6d5b7);
  border: 2px solid #AAA;
  border-top: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  padding: 10px 5px 10px 5px;
  cursor: pointer;
}
