body {
  background-color: #f3f3f3;
}

#appWrap {
  width: 620px;
  margin: 0 auto;
}

#top {
  text-align: center;
}

#editbox {
  background-color: #f6f9f3;
  border: 1px solid #aec693;
}

.editbox .gp-e-container {
  height: 150px;
  font: normal 13px/1.4 Arial, sans-serif;
  background-color: #fff;
  outline: 0;
}

.gp-e-container p {
  margin-top: 0;
}

.gp-ac-input, .gp-ac-input:focus {
  border: 0;
  outline: 0;
  background: transparent;
}

.toolbar {
  background-color: #e5f2d6;
  border-top: 1px solid #cadbb7;
  border-bottom: 1px solid #cadbb7;
  font-family: sans-serif;
  cursor: arrow;
}

.toolbar span {
  padding: 4px;
}

.enabled {
  color: black;
}

.disabled {
  color: gray;
}

.active {
  background-color: green;
}
