/*
  Css reset:
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /reset */

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

img {
  max-width: 100%;
}

#appWrap, #circleChooserBar {
  width: 620px;
  margin: 0 auto;
}

#closeCircleChooser {
  display: inline-block;
  opacity: 0;
  width: 18px;
  height: 18px;
  background: url(img/closepost.png);
  position: relative;
  top: 5px;
  cursor: pointer;
  float: right;
  -webkit-transition: opacity 0.2s ease-in-out;
}

#top {
  text-align: center;
  height: 92px;
}

#top img {
  height: 30px;
  margin-top: 40px;
}

#editbox {
  background-color: #fff;
  border: 1px solid #aec693;
  -webkit-transition: all 0.2s ease-in-out;
}

#editbox.collapsed {
  border-color: #dedede;
}

.titleBar {
  height: 50px;
}

.titleBar input {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding-left: 15px;
  color: #191919;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.windows .titleBar input {
  font-size: 17px;
}

.titleBar input::-webkit-input-placeholder {
  color: #b2b2b2;
}

#collapseEditbox {
  width: 18px;
  height: 18px;
  opacity: 0;
  display: block;
  cursor: pointer;
  position: relative;
  top: 9px;
  left: 610px;
  background: url(img/closepost.png);
  z-index: 50;
}

.hideWhenCollapsed {
  display: none;
}

.editbox .gp-e-container {
  min-height: 70px;
  max-height: 500px;
  padding: 20px 20px 0 20px;
  font: 13px Helvetica, Arial, sans-serif;
  line-height: 18px;
  background-color: #fff;
  outline: 0;
  overflow-y: auto;
  color: #191919;
}

.gp-e-container p {
  margin-top: 0;
  -webkit-margin-after: 1em;
}

.gp-ac-input, .gp-ac-input:focus {
  border: 0;
  outline: 0;
  background: transparent;
}

.toolbar {
  background-color: #e5f1d9;
  border: 1px solid #c9dabb;
  border-left: 0;
  border-right: 0;
  font-family: sans-serif;
  height: 36px;
}

.toolbar span {
  width: 24px;
  display: inline-block;
  text-align: center;
  height: 24px;
  padding: 4px;
  margin-top: 4px;
  border-radius: 6px;
  margin-left: 8px;
  font-size: 16px;
  font-family: default;
  font-weight: bold;
  cursor: pointer;
}

#postActions .disabled {
  opacity: 0.4;
}

#postActions .invalid {
  opacity: 0.3;
  cursor: default;
}

.toolbar .active {
  background-color: #92ac75;
  color: #fff;
}

.toolbar span:hover:not(.active) {
  background-color: #acc398;
  color: #fff;
}

#postActions {
  background-color: #fff;
  width: 100%;
  height: 25px;
  padding: 0 5px 5px 0;
}

.postAction {
  float: right;
  cursor: pointer;
  margin-left: 10px;
}

.postAction span {
  -webkit-transition: all 0.2s ease-in-out;
}

#attachments.notempty {
  border-top: 1px solid #aec693;
  background: #f6f9f3;
}

.reshare {
  padding: 20px;
}

.reshare h2, .reshare p, .reshare a, .reshare h3 {
  -webkit-margin-after: 0.4em;
}

.reshare h2,
.reshare .mediaLink {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  color: #99224b;
  margin-bottom: 15px;
}

.reshare .mediaLink {
  text-decoration: none;
}

.reshare h3 {
  margin: 15px 0;
}

.reshareMeta {
  font-weight: 800;
  -webkit-margin-before: 1em;
  display: block;
}

#linkBar {
  display: none;
  height: 50px;
}

#linkBar #linkInput {
  width: 505px;
  background: #fff;
  margin: 10px;
  padding-left: 5px;
  height: 30px;
  outline: 0;
  border-radius: 5px;
  color: #121212;
}

#linkBar button {
  background-image: -webkit-linear-gradient(top, #adc493, #c5d6b2);
  border: 2px solid #adc493;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  width: auto;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 2px 0 #dadada;
}

#linkBar button:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}

#addLinkAction {
  display: block;
  width: 24px;
  height: 20px;
  background: url(img/addurl_icon.png);
}

#addLinkAction.loaded {
  opacity: 0.7;
}

#addPhoto {
  display: block;
  width: 24px;
  height: 20px;
  background: url(img/addphoto_icon.png);
}

#postMedia {
  display: none;
  padding: 20px;
  line-height: 18px;
}

#postMedia #linkImage,
#reshare #mediaImage {
  float: left;
  max-width: 120px;
  margin-right: 20px;
}

#otherMediaImage {
  text-align: center;
  max-width: 100%;
}

#postMedia #linkTitle {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
}

#postMedia #linkTitle a {
  color: #99224b;
  text-decoration: none;
}

#postMedia #linkImage img {
  max-width: 120px;
  margin-right: 20px;
}

#postMedia #linkVideo {
  float: left;
  margin-right: 20px;
}

#postMedia #linkDescription {
  color: #191919;
  font-family: Helvetica, Arial, sans-serif;
}

#postMedia #removeDescription {
  color: #99224b;
  cursor: pointer;
}

#postMedia #imagePicker {
  background: #000;
  height: 20px;
  width: 120px;
  color: #fff;
  -webkit-user-select: none;
}

#postMedia #imagePicker #removeImage {
  float: right;
}

#postMedia #imagePicker span {
  cursor: pointer;
}

#postMedia #imagePicker #imagePickPrev {
  margin-right: 5px;
}

#circleChooserBar {
  display: inline-block;
  height: auto;
  padding: 10px;
  border: 1px solid #bebebe;
  margin-top: 10px;
  background: #f6f9f3;
  cursor: text;
}

.audienceChooserEntity {
  display: block;
  float: left;
  width: auto;
  height: 28px;
  font-size: 13px;
  color: #fff;
  padding: 7px 10px 10px 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  background-color: #0694c4;
  border-radius: 5px;
}

.audienceChooserEntity.c_PUBLIC,
.audienceChooserEntity.c_EXTENDED_CIRCLES {
  background-color: #57a046;
}

.deleteEntityButton {
  padding-left: 8px;
  cursor: pointer;
}

#circleChooser {
  width: auto;
  height: 28px;
  border: 0;
  outline: 0;
  background: transparent;
}

#circleChooser::-webkit-input-placeholder {
  color: #bb1951;
}

#circleChooser:focus::-webkit-input-placeholder {
  color: rgba(0,0,0,0);
}

#buttonBar {
  margin-top: 18px;
}

#buttonBar div {
  float: left;
  width: auto;
  height: 40px;
}

#buttonBar button, #buttonScheduleStepTwo {
  width: 140px;
  margin-left: 20px;
  height: 34px;
  border: 2px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px -1px 0 rgba(0,0,0,0.3);
  cursor: pointer;
  font-family: Roboto;
  -webkit-transition: text-shadow,color 0.3s ease-in-out;
}

#buttonBar div:first-child button, #buttonScheduleStepTwo {
  margin-left: 0;
}

#buttonScheduleStepTwo {
  float: right;
  position: relative;
  top: -2px;
}

#buttonBar #buttonDelete:active,
#buttonBar #buttonDraft:active,
#buttonBar #buttonSchedule:active,
#buttonBar #buttonPost:active,
#buttonScheduleStepTwo:active {
  margin-top: 2px;
  box-shadow: none;
}

#buttonBar #buttonDelete {
  background-image: -webkit-linear-gradient(top, #cac9c9, #d6d5d5);
  border-color: #cac9c9;
  box-shadow: 0px 2px 0 #e2e2e2;
}

#buttonBar #buttonDelete.confirm {
  background-image: -webkit-linear-gradient(top, #9c9c9c, #b8b8b8);
  border-color: #9c9c9c;
  box-shadow: 0px 2px 0 #dadada;
}

#buttonBar #buttonDraft {
  background-image: -webkit-linear-gradient(top, #f1a643, #f4bf4d);
  border-color: #f1a643;
  box-shadow: 0px 2px 0 #dadada;
}

#buttonBar #buttonSchedule, #buttonScheduleStepTwo {
  background-image: -webkit-linear-gradient(top, #f17c4c, #f49459);
  border-color: #f17c4c;
  box-shadow: 0px 2px 0 #dadada;
}

#buttonBar #buttonPost {
  background-image: -webkit-linear-gradient(top, #bb1a51, #d92671);
  border-color: #bb1a51;
  box-shadow: 0px 2px 0 #cfcfcf;
}

#scheduleBar {
  height: 52px;
  border: 1px solid #bebebe;
  background: #f6f9f3;
  margin-top: 10px;
  margin-bottom: 120px;
  padding: 10px;
  display: none;
  font-size: 13px;
  color: #7b7c79;
}

#scheduleBar input {
  border-radius: 5px;
  font-size: 14px;
  outline: 0;
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

#scheduleBar input::-webkit-input-placeholder {
  color: #666;
}

#posts, #editbox, .hideWhenCollapsed  {
  -webkit-transition: all 0.2s ease-in-out;
}

#posts .column {
  width: 300px;
}

#posts .columnHead {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.drafts .columnHead {
  color: #e79c3c;
}

.scheduled .columnHead {
  color: #f17c4c;
}

#posts .column.drafts {
  float: left;
  margin-right: 10px;
}

#posts .column.scheduled {
  float: right;
  margin-left: 10px;
}

#posts .savedPost {
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #605e5a;
  line-height: 16px;
}

.windows #posts .savedPost {
  font-size: 15px;
}

.postDate {
  font-size: 14px;
  color: #98224c;
  -webkit-margin-after: 15px;
}

.postError {
  font-size: 14px;
  color: #ca1732;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 15px;
}

.postError:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(img/ds_icons.png);
  background-repeat: no-repeat;
  background-position: 1px;
  margin-right: 4px;
}

.savedPost:hover .postError:before {
  background-position: -12px;
}

.scheduled .savedPost:hover .postDate {
  color: #6d1030;
}

.savedPost .postDate:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(img/ds_icons.png);
  background-repeat: no-repeat;
  background-position: -25px;
  margin-right: 4px;
}

.savedPost:hover .postDate:before {
  background-position: -38px;
}

.postTitle {
  font-size: 18px;
  color: #484643;
  display: block;
  -webkit-margin-after: 0.5em;
  font-weight: 300;
}

.drafts .savedPost {
  background-color: #f1ebe1;
}

.drafts .savedPost:hover,
.drafts .savedPost.activity {
  background-color: #f1a643;
  color: #483112;
}

.drafts .savedPost:hover .postError {
  color: #a70923;
}

.scheduled .savedPost {
  background-color: #f3e8e3;
}

.scheduled .savedPost:hover,
.scheduled .savedPost.activity {
  background-color: #f17c4c;
  color: #483112;
}

#sendFeedback {
  position: absolute;
  top: 0;
  left: -9999px;
  background-image: -webkit-linear-gradient(top, #acc398, #c6d5b7);
  border: 2px solid #acc398;
  border-top: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 0 #dadada;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
}

.clearFix {
  clear: both;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #605e5a;
}

footer a {
  color: #98224c;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: #d22965;
}

#information {
  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  z-index: 75;
  background: #f6f9f3;
  border: 2px solid #bebebe;
  border-radius: 20px;
  height: auto;
  padding: 30px 60px 90px 60px;
  text-align: center;
  color: #191919;
}

#information h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

#information p {
  -webkit-margin-after: 1em;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}

#information p span {
  margin-left: 2px;
}

#information button {
  font-size: 18px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 4px;
  background-image: -webkit-linear-gradient(top, #f17c4c, #f49459);
  color: #fff;
  text-shadow: 0px -1px 0 rgba(0,0,0,0.3);
  font-weight: 300;
  border: 2px solid #f17c4c;
  box-shadow: 0px 4px 0 #dadada;
  border-radius: 10px;
}

#information button:active {
  margin-top: 34px;
  box-shadow: none;
  margin-bottom: 0;
}

#information .iUnderstand {
  font-size: 150%;
}

body #ui-datepicker-div .ui-widget-header {
  background: transparent;
  border: 0;
}

body #ui-datepicker-div {
  background: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body .ui-datepicker th {
  font-size: 15px;
}

body .ui-datepicker td a,
body .ui-datepicker td span.ui-state-default {
  text-align: center;
  border: 0;
  outline: 0;
  font-size: 12px;
  width: 22px;
  padding: 4px 0;
  margin-left: 5px;
  border-radius: 6px;
}

body .ui-datepicker-calendar .ui-state-default,
body .ui-datepicker-calendar .ui-state-hover {
  border: 0;
  outline: 0;
  background: transparent;
}

body .ui-datepicker-calendar .ui-state-default,
body .ui-datepicker-calendar .ui-state-highlight {
  color: #555;
}

body .ui-datepicker td a.ui-priority-secondary,
body .ui-datepicker td span.ui-state-default {
  color: #b2b2b2;
}

body .ui-datepicker-calendar .ui-state-hover {
  color: #f27d4c;
}

body .ui-datepicker td a.ui-state-active,
body .ui-datepicker td.ui-datepicker-today a.ui-state-active {
  color: #fff;
  background: #f27d4c;
}

body .ui-datepicker td.ui-datepicker-today a {
  background: #fadbe5;
}

body .ui-datepicker button.ui-state-default {
  border: 0;
  background: transparent;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #bb1951;
}

body #ui-datepicker-div.ui-widget-content {
  border: 1px solid #d27d4c;
  border-radius: 5px;
}

.ui-datepicker-month,
.ui-datepicker-title {
  font-size: 15px;
  color: #bb1951;
}

.ui-datepicker-year {
  font-size: 15px;
  color: #f6b9cd;
}

body .ui-datepicker-prev-hover.ui-state-hover {
  border: 0;
  margin: 1px 0 0 1px;
}

body .ui-datepicker-next-hover.ui-state-hover {
  border: 0;
  margin: 1px 1px 0 0;
}

.ui-datepicker-prev span.ui-icon,
.ui-datepicker-next span.ui-icon {
  background: url(img/ds_icons.png);
  background-repeat: no-repeat;
  width: 13px;
}

.ui-datepicker-prev span.ui-icon {
  background-position-x: -52px;
}

.ui-datepicker-next span.ui-icon {
  background-position-x: -65px;
}

.ui-timepicker-div dl dt,
.ui-timepicker-div dl dd {
  margin-left: 5px;
  padding: 0 0 3px 5px;
  color: #121212;
  font-size: 15px;
}

#circleChooserBar .ui-autocomplete.ui-menu,
.gp-mention .ui-autocomplete.ui-menu {
  max-height: 222px;
  overflow-y: auto;
  border-radius: 0;
  border: 1px solid #bebebe;
  padding: 0;
  background: #fff;
}

#circleChooserBar .ui-autocomplete.ui-menu {
  border-top: 0;
}

#circleChooserBar .ui-menu-item ,
.gp-mention .ui-menu-item {
  border: 0;
  outline: 0;
  background: inherit;
}

#circleChooserBar .ui-menu-item a:hover ,
.gp-mention .ui-menu-item a:hover {
  background: #eff6e9;
}

#circleChooserBar .ui-menu-item .ui-state-hover ,
.gp-mention .ui-menu .ui-menu-item a.ui-state-hover {
  border: 0;
  background: #eff6e9;
  margin: 0;
  color: inherit;
}

#circleChooserBar .entityPhoto ,
.gp-mention .gp-e-image {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  top: 6px;
}


#circleChooserBar .entityPhoto img ,
.gp-mention .gp-e-image img {
  width: 24px;
  height: 24px;
}

.gp-mention .ui-autocomplete.ui-menu {
  width: 280px;
  max-height: 222px;
}

#circleChooserBar a,
.gp-mention a {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  width: 100%;
  height: 44px;
  border-radius: 0;
  color: #000;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Track */
#circleChooserBar::-webkit-scrollbar-track,
.gp-mention::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 100px;
  background: #bebebe;
}
